<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= company.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= company.email %>
  </p>

  <p>
    <strong>Street address:</strong>
    <%= company.street_address %>
  </p>

  <p>
    <strong>City name:</strong>
    <%= company.city_name %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= company.postal_code %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= company.country_id %>
  </p>

</div>
